{% extends 'base.html.twig' %}
{% block stylesheets %}{% endblock %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Liste des Utilisateurs</h1>

    <table class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr  class="table-light">
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">aucun utilisateur existe</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
